<div class="card p-3">
  <h3>My profile</h3>

  <div class="d-flex flex-row justify-content-between">
    <div class="card m-3 col-6 me-1" >
      <h3>Personnal info</h3>
      <div class="">
        <label for="firstname" class="form-label">Firstname</label>
        <input type="text" id="firstname" class="form-control" placeholder="Firstname">
      </div>
      <div class="mb-3">
        <label for="lastname" class="form-label">Lastname</label>
        <input type="text" id="lastname" class="form-control" placeholder="Lastname">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" class="form-control" placeholder="email@gmail.com">
      </div>
    </div>
    <div class="card m-3  col-6">
      <h3>Address</h3>
      <div class="mb-3">
        <label for="streer" class="form-label">Street</label>
        <input type="text" id="street" class="form-control" placeholder="Street">
      </div>
      <div class="mb-3">
        <label for="house-number" class="form-label">House number</label>
        <input type="number" id="house-number" class="form-control" placeholder="house-number">
      </div>
      <div class="mb-3">
        <label for="city" class="form-label">City</label>
        <input type="text" id="city" class="form-control" placeholder="City">
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button class="btn btn-danger " type="button">
      <em class="fas fa-save"></em>&nbsp;Save
    </button>
    <button class="btn btn-link text-primary " type="button">
      <em class="fas fa-times"></em>&nbsp;Cancel
    </button>

  </div>

</div>
