<nav class="card navbar navbar-expand-lg navbar-light mb-2 mt-2" style="background-color:#e3f2fd;" >
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/' + role]">My Bank</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/' + role">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="!isAdmin">
          <a class="nav-link" [routerLink]="['my-transactions']">My transactions</a>
        </li>
        <li class="nav-item" *ngIf="!isAdmin">
          <a class="nav-link" [routerLink]="['my-contact-list']">My contact list</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" [routerLink]="'/admin/customers'">Customers</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <a *ngIf="!isAdmin" routerLink="/user/new-transaction" class="btn btn-success me-3" type="submit" >
          <em class="fas fa-plus"></em>&nbsp; New transaction
        </a>
        <a [routerLink]="'/'+ role + '/profile' ">
          <em class="fas fa-user"></em>&nbsp;Christian</a>
      </div>
    </div>
  </div>
</nav>
